# Node modules (VERY IMPORTANT)
node_modules/

# Environment variables
.env

# Next.js / React build files
.next/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/